:root {
    --color-primario: white;
    --color-secundario: #1b1d20;
    --color-terciario: #00b7ff;
    --color-error: #ba1a1a;
    --color-neutral95: GhostWhite;
    --color-neutral80: LightGrey;
    --color-neutral50: DarkGrey;
    --color-neutral30: DimGrey;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Etiquetas generales */

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Botones */

button, input {
    border:none;
    border-radius: 10px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 16px 8px;
    cursor: pointer;
}

.filled {
    border: 2px solid var(--color-terciario);
    background-color: var(--color-terciario);
}

.outlined {
    border: 2px solid var(--color-terciario);
    background-color: transparent;
    background-repeat: no-repeat;
    overflow: hidden;
    color: var(--color-terciario);
}

/* Pie de página */

.footer {
    padding: 100px 0 50px 0;
    background-color: var(--color-secundario);
}

.footer-link {
    display: flex;
    padding: 30PX;
    justify-content:space-evenly;
}

.link {
    width: 300px;
    /*
    Responsive <--------------------------
    En tamaño escritorio deberia visualizarse con:
    text-align: left; 
    */
    text-align: center;
}

.link h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 10px;
    color: var(--color-neutral95);
    text-transform: uppercase;

}

.link p {
    font-size: 14px;
    line-heigth: 24px;
    color: var(--color-neutral50);
    display: block;
    margin-bottom: 20px;
}

.link a {
    font-size: 14px;
    color: var(--color-neutral50);
    display: block;
    margin-bottom: 20px;
}

.link a:hover {
    color: var(--color-terciario);
}



.socials {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
}

.socials a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: transparent;
    margin: 0 10px 0 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--color-neutral95);
    font-size: 20px;
    padding: 0;
    justify-content: center;
    align-content: center;
}

.socials a:hover {
    background-color: transparent;
} 

form {
    display: flex;
    flex-direction: column;
}

input {
    background-color: transparent;
    padding: 14px;
    outline: none;
    border: 2px solid var(--color-neutral80);
    font-size: 17px;
    margin-bottom: 15px;
    color: var(--color-neutral80);
}

::placeholder {
    color: var(--color-neutral50);
}

hr {
    border: 1px solid var(--color-neutral30);
    margin: 35px 0;
}

.footer-text {
    display:flex;
    justify-content: space-evenly;
    padding: 30px;
}

.footer-text a {
    font-size: 15px;
    color: var(--color-neutral50);
}

.footer-text a:hover {
    color: var(--color-terciario);
}

@media(max-width:991px) {

    .footer {
        padding: 30px;
    }    

    .footer-link {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .socials {
        justify-content: center;
    }

    .footer-text {
        text-align: center;
    }

}






