
/* General */

:root {
    --primary-color: #ffffff;
    --secondary-color: #1b1d20;
    --tertiary-color:hsl(280, 100%, 50%);

    --color-neutral-80: LightGrey;
    --color-neutral-90: hwb(0 90% 17%);

}

.centrar {
    max-width: 1080px;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 9px;
    width: 100%;
    margin: 32px 0px;
}

@media(max-width:720px) {
    .centrar {
        justify-content: left;
        align-items: flex-start;
    }
}
/* Formulario */

#form-testimonio {
    max-width: 1080px;
}

#form-testimonio .d-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: flex-end;
}

#form-testimonio .d-flex-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 9px;
    margin-top: 0px;
}

#form-testimonio input {
    height: 54px;
}

#form-testimonio button {
    height: 54px;
    margin-left: 0px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1)
            brightness(72%)
            sepia(100%)
            saturate(10000%)
            hue-rotate(280deg)
}


@media(max-width:720px) {
    #form-testimonio .d-flex {
        display: inline;
        gap: 16px;
    }
}


/* Tabla */


#list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.table {
    margin: 30px 0px;
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
}

.table th,
.table td {
    padding: 8px; 
    text-align: center;
}

.table th{
    border-bottom: 2px solid var(--color-neutral-80);
}

.table td{
    border-bottom: 1px solid var(--color-neutral-90);
}

#list-div-movies{ 
    width: 100%;
}

/* .item-movie{ 
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
} */

/* Footer */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  footer {
    margin-top: auto;
  }

